@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
    overflow-x: hidden;
}

body {
    background-color: rgb(226, 222, 222);
}

.nav {
    background-color: #05344d;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    text-align: center;
    position: sticky;
    top: 0;
}

.logo>img {
    width: 40px;
    border-radius: 50%;
    margin-top: 8px;
}

.logo {
    margin-left: 5px;
    margin-right: 15px;
}

.search-bar>input {
    border: none;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
    padding-left: 10px;
}

.search-bar>img {
    width: 25px;
}

.search-bar {
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 14fr 1fr;
    padding: 5px;
    border-radius: 5px;
}

.message-box>img {
    color: #fff;
    width: 60px;
}


/* Body Section/  Story Section */

.story-content {
    margin-top: 5px;
    background-color: #fff;
}

.custom-padding {
    padding-top: 8px;
    padding-bottom: 8px;

}

.story-body {
  max-width: 1000px;
  margin: auto;
}

.story-content {
    background-color: #fff;
    padding: 10px;
}

.story-profile{
  display: flex;
}

#story-profile-img>img {
    /* grid-area: SPImg; */
    width: 80px;
    margin: 0;
    padding: 0;


}




.story-caption>button {
    border: none;
    text-decoration: none;
}

.story-body {
    width: 100%;
}

.story-body-img {
    text-align: center;
}

.more-content {
    display: none;
}

.see-more {
    font-weight: bolder;
    font-size: 15px;
}

.custom-link {
    height: 80px;
    background-color: rgb(219, 213, 213);
    text-align: left;
    padding-left: 18px;
}

.custom-link>a {
    display: block;
    text-decoration: none;
    color: gray;
}

.activity-detail {
    display: flex;
    justify-content: space-between;
}

.activity {
    display: flex;
    text-align: center;
    padding: 8px
}

.activity button {
    border: none;
}

.footer>img {
    width: 35px;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    position: sticky;
    bottom: 0;
    margin-top: 8px;
    background-color: #fff;
}
